# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Modelos treinados (ficheiros grandes)
saved_model/
*.safetensors
*.bin
*.pt
*.pth

# Dados sensíveis / grandes
data/data_original.json

# Node modules (para quando fizeres o frontend React)
node_modules/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env